<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0cb2ba51-b422-47ca-8cfb-67aaef950646/resourcegroups/LearningCenterPlatform20250617211509ResourceGroup/providers/Microsoft.Web/sites/LearningCenterPlatform202506192103374424</ResourceId>
    <ResourceGroup>LearningCenterPlatform20250617211509ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/0cb2ba51-b422-47ca-8cfb-67aaef950646/resourceGroups/LearningCenterPlatform20250617211509ResourceGroup/providers/Microsoft.ApiManagement/service/LearningCenterPlatformapi/apis/LearningCenterPlatform4424</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://learningcenterplatform202506192103374424-ged0a9a8gpc8cbh6.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>49b636cd-258b-4dd9-8c1a-85d557b1c6ea</ProjectGuid>
    <MSDeployServiceURL>learningcenterplatform202506192103374424-ged0a9a8gpc8cbh6.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LearningCenterPlatform202506192103374424</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>